.container{
    padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
 max-width: 1600px;
}
img {
    display: block;
    margin: 0 auto;
}
.form-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form input {
    height: 25px;
    outline: none;
    min-width: 250px;
}
.search-form button {
    position: absolute;
    right:1;
    border-radius: 1;
    height: 23px;
    border: transparent;
    cursor: pointer;
}

.gallery {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.photo-card {
    margin: 5px;
    border: 1px solid #EEEEEE;;
    flex-basis: 360px;
       
}
.info {
    display: flex;
    justify-content: space-between;
    
}
.info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50px;

}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 5px;
}

.d-none {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
}
.button-container button {
    background-color: blue;
    color: white;
    border-radius: 2px; 
    border: none;
    padding: 5px;
    cursor: pointer;
}
.button-container button:hover {
    background-color: rgb(18, 18, 228);
}